@import "./title.css";

#app {
  width: 100vw;
  height: 100dvh;
  display: grid;
  background-color: black;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr;
  gap: 1px;
}

.box {
  font-family: "Fire Code", monospace;
  grid-row: 2;
  background-color: rgb(40, 42, 54);
  width: 100%;
  column-span: 1;
  max-width: 50vw;
}
