nav {
  grid-column: 1 / span 2;
  font-family: monospace;
  font-weight: bold;
  color: #666;
  display: flex;
  justify-content: center;
  background-color: rgb(56 60 87);
  max-width: 100vw;
  position: relative;
  padding: 0;
  align-items: center;
}

.utils {
  margin: 0;
  list-style: none;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  gap: 10px;

  & button {
    appearance: none;
    color: white;
    background: transparent;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 7px;

    & svg {
      margin-right: 5px;
    }
  }
}
