@keyframes shine {
    0% {
        background-position: 110% 0%, 0 0;
    }
    100% {
        background-position: -10% 0%, 0 0;
    }     
}    

  
  
  h2 {
      position: relative;
      display: inline-block;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0;
  }
 
  [data-gold] {
      color: #ac733c; //fallback solid color
      color: transparent;
      background-image: linear-gradient(to right, transparent 0%, transparent 45%,white 50%,transparent 55%,transparent 100%), linear-gradient(90deg, #c78c48, #cf9147 9.4%, #cf9348 9.4%, #b2763e 33.6%, #ad743c 35.7%, #ac723d 46.9%, #b0773d 51.7%, #b0793e 52.1%, #c4914c 64.6%, #c99750 68.5%, #ce9e54 73.2%, #f4d188);
      background-position: 110% 0%, 0 0;
      background-size: 200% auto, auto;
          background-clip: text;
      animation: shine 2s ease-in-out 2 alternate 2s;
   
      &:before {
          content: attr(data-gold);
          color: #f0d8a9;
          position: absolute;
          z-index: -1;
          top: -.08vw;
          left: 0px;
          text-shadow: rgba(black, 1) 0px .08vw 12px;
      }
    
      &:after {
        content: attr(data-gold);
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom, transparent 0%,transparent 48%,rgba(#621000, .5) 50%,transparent 75%);
        background-clip: text;
    }
}